<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="quiz" class="col-6 offset-3 bg-light">
                <button [routerLink]="['/admin']" class="btn btn-info btn-block btn-lg mt-3"
                    style="background-color: #0f070f;">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </button>
                <button [routerLink]="['/question-editor/' + quiz.questions.join(',')]"
                    class="btn btn-info btn-block btn-lg mt-3" style="background-color: #0f070f;">
                    New Question
                </button>
                <h1 class="h2 text-center text-primary pt-3"></h1>
                <label class="mt-3">{{'#'+ quiz.id}}</label>
                <form #quizForm="ngForm" (ngSubmit)="onUpdate(quizForm, quiz)">
                    <div class="form-group my-3">
                        <label for="title">Title</label>
                        <input name="title" [(ngModel)]="quiz.title" type="text" class="form-control" required>
                        <div [hidden]="quizForm.controls.title?.valid || quizForm.controls.title?.pristine"
                            class="error-message">
                            Required
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label for="description">Description</label>
                        <input name="description" [(ngModel)]="quiz.description" type="text" class="form-control"
                            required>
                        <div [hidden]="quizForm.controls.description?.valid || quizForm.controls.description?.pristine"
                            class="error-message">
                            Required
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="active" [(ngModel)]="quiz.active" class="custom-control-input"
                                id="active">
                            <label class="custom-control-label" for="active">Active</label>
                        </div>
                    </div>


                    <button [disabled]="quizForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg mt-5">
                        <i class="fa fa-save"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>