<div class="row">
    <div class="col-12 mt-2">
        <h2></h2>
        <button type="submit" [routerLink]="['/quiz-editor/' + 0]" class="btn btn-primary btn-block mt-5"
            style="background-color: #0f070f;">
            <i class="fa fa-plus"></i>
        </button>

        <label for="search" class="mx-2"></label>
        <input id="search" (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text"
            placeholder="Keresés" [value]="phrase">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="onColumnClick('id')">#</th>
                    <th (click)="onColumnClick('title')">Title</th>
                    <th (click)="onColumnClick('description')">Description</th>
                    <th (click)="onColumnClick('active')">Active</th>
                    <th>Editor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quiz of quizzes$ | async | filter:phrase:'name' |sorter:currentCol:'up'">
                    <td> {{quiz.id}} </td>
                    <td> {{quiz.title}} </td>
                    <td> {{quiz.description}} </td>
                    <td> <input type="checkbox" id="active" name="active" [(ngModel)]="quiz.active" readonly> </td>

                    <div class="btn-group">
                        <button [routerLink]="['/quiz-editor/' + quiz.id]" class="btn btn-info">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" (click)="onDelete(quiz.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>