
.card-body{
    justify-content: center;
}

.btn-primary {
    text-align: center;
}

h5 {
  display: block;
    width: 100%;
    box-sizing: initial;
    font-size: 1.8rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: -2rem 0 1rem -2rem;
    background-color: #d52ecc;
    color: rgba(255, 255, 255, 1);
}