<div class="container">
    <div class="row">
        <div class="col-8 offset-2 my-5">
            <h1>Home</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-4">
            <div class="card">
                <div class="card-body shadow d-flex flex-column justify-content-center">
                    <h5 class="card-title">T360 quiz</h5>
                    <p class="card-text"></p>
                    <a routerLink="[quiz.id]" class="btn btn-primary">Tovább kérdésekhez</a>
                </div>
            </div>
        </div>


    </div>